body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  margin: 10px;
}

.container {
  max-width: 640px;
  margin: 0 auto;
  text-align:center;
  height: 100vh;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

form div * {
  margin: 5px;
}

fieldset div label {
  display: block;
}

